# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
venv/
.env/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Outputs
outputs/
*.log

# OS files
.DS_Store
Thumbs.db