# Environment variables
.env

# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Mock Database
shopify_mock/*.db

# Outputs (keeping outputs/.gitkeep)
outputs/*.json
outputs/*.md

# OS / Editor junk
.DS_Store
.vscode/
.idea/